/backend/.phpunit.cache
/backend/node_modules
/backend/public/build
/backend/public/hot
/backend/public/storage
/backend/.gitgub
/backend/storage/*.key
/backend/storage/*.key
/backend/vendor
/backend/.env
/backend/.cursor
.env
.env.backup
.env.production
.phpactor.json
/backend/.phpactor.json
/backend/.phpunit.result.cache
/backend/Homestead.json
/backend/Homestead.yaml
/backend/auth.json
/backend/npm-debug.log
/backend/yarn-error.log
/backend/npm-debug.log
/backend/yarn-error.log
/backend/MCP
/services/checkerFile/.idea
/.fleet
/.idea
/.vscode
/.cursor
/.cursor/rules
/ldap/ldif
/ldap/config
/redis/data/dump.rdb
/ldap/data
/postgres
/nginx/ssl/server.key
/nginx/ssl/server.crt
/nginx/ssl/server.pfx
/nginx/certbot